# Firebase Configuration
VITE_FIREBASE_API_KEY=your_firebase_api_key
VITE_FIREBASE_AUTH_DOMAIN=your_project.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=your_project_id
VITE_FIREBASE_STORAGE_BUCKET=your_project.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=your_sender_id
VITE_FIREBASE_APP_ID=your_app_id

# VAPI Voice SDK
VITE_VAPI_PUBLIC_KEY=your_vapi_public_key
VITE_PUBLIC_VAPI_ASSISTANT_ID=aec88f9a-b7f5-404b-94e2-273922d194c5
VITE_PUBLIC_VAPI_INTERVIEW_ASSISTANT_ID=261bd439-be97-4e07-abe2-ca1857e125a5


# Gemini API Key (for generating & evaluating interview questions)
VITE_GEMINI_API_KEY=AIzaSyA84wB61V3XC56D39r0db3uLmSB1HwYMwU

# Groq API Key (for fast Resume Parsing & Generation)
VITE_GROQ_API_KEY=your_groq_api_key
NEXT_PUBLIC_BASE_URL=https://voxmentor-interview-agent.vercel.app/

VITE_PUBLIC_VAPI_WEB_TOKEN=7079ed12-4c29-4db7-a339-518d1b170ff7
VAPI_TOOL_SECRET=vanakam-daaa

